<div class ="header-panel-two" 
  data-aos="fade-up"  
  data-aos-offset="200"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
  >
  <div class ="header-text-two">Welcome to boruju.space</div>
  </div>
  <div class="welcome">
    <div class="room" style="width: 100%; padding-bottom: calc(100vmin - 95px); height: calc(100vh - 95px);">
      <input id="room-zoom" type="checkbox" name="zoom" class="room-zoom">
      <input id="room-dark" type="checkbox" name="dark" class="room-dark">
      <div class="room-body">
        <input id="wall-1" type="radio" name="animate" checked="true">
        <input id="wall-2" type="radio" name="animate">
        <input id="wall-3" type="radio" name="animate">
        <input id="wall-4" type="radio" name="animate">
        <div class="room-arena" id="container">
          <div class="walls">
            <div class="wall">
              <img src="../assets/Kitchen.png">
            </div>
            <div class="wall">
              <img src="../assets/WallArtBackground.png">
            </div>
            <div class="wall">
              <img src="../assets/WallArtBackground2.png">
            </div>
            <div class="wall">
              <img src="../assets/Kitchen.png">
            </div>
            <div class="ceil"></div>
            <div class="floor"></div>
          </div>
        </div>
        <div class="navigations">
          <label for="wall-1">
            <span>1</span>
          </label>
          <label for="wall-2">
            <span>2</span>
          </label>
          <label for="wall-3">
            <span>3</span>
          </label>
          <label for="wall-4">
            <span>4</span>
          </label>

        </div>
        <div class="paginations">
          <label for="wall-1">1</label>
          <label for="wall-2">2</label>
          <label for="wall-3">3</label>
          <label for="wall-4">4</label>
        </div>
      </div>
    </div>
  </div>
<br><br>
<div data-aos="fade-up"  
data-aos-offset="200"
data-aos-delay="50"
data-aos-duration="1100"
data-aos-easing="ease-in-out">
  <div class ="header-panel">
    <div class ="header-text">boruju.space</div>
  </div>
  </div>

  <app-gallery></app-gallery>